bcrypt==3.1.7
cffi==1.13.1
Click==7.0
dlib==19.19.0
dnspython==1.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.3.0
Flask-WTF==0.14.2
fpdf==1.7.2
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.16.5
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
Pillow==8.1.1
pycparser==2.19
pymongo==3.9.0
pyserial==3.4
python-printer-escpos==0.0.3
pyusb==1.0.2
qrcode==6.1
six==1.12.0
Werkzeug==0.16.0
WTForms==2.2.1
